:root {
    --btn-bg: #c9d42b;
    --btn-border: rgb(197, 197, 197);
    --text-color: black;
    --logo-color: black;
    --background-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --btn-bg: #444;
        --btn-border: #555;
        --text-color: #f4f4f4;
        --logo-color: #fff;
        --background-color: black;
        --text-color: white;
    }
}

.navbar {
    width: 100%;
}

.navbar-container {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    gap: 5px;
}

.navbar-links {
    width: 100%;
}

.navbar-links.close {
    display: none;
}

.navbar-links.open {
    position: fixed;
    top: 0;
    /* right: -100%;  */
    width: 30%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    right: 0;
}

#privacy-policy {
    margin-right: 10px;
}

#terms-of-service {
    margin-right: 10px;
}

#logout-btn {
    padding: 7px;
    border-radius: 5px;
    border: 2px solid var(--btn-border);
    background-color: var(--btn-bg);
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color);
}

#authenticated-div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sub-authenticated-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#todo-app-logo {
    color: var(--logo-color);
    font-size: 1.8rem;
}

#non-authenticated-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sub-non-authenticated-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#display-name {
    font-size: 1.2rem;
    color: var(--text-color);
}

#menu-toggle {
    display: none;
    /* position: fixed;
    top: 23px;
    right: 10px; */
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    z-index: 1100;
    padding: 10px;
}

.general-navbar {
    width: 100%;
    /* background-color: #c9d42b; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .navbar-container {
        font-size: 1.3rem;
    }

    #todo-app-logo {
        font-size: 1.7rem;
    }

    #display-name {
        font-size: 1.2rem;
    }

    #logout-btn {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .navbar-container {
        font-size: 1.1rem;
    }
}

@media (min-width: 900px) {
    .navbar-links.close {
        display: block;
    }
}

@media (max-width: 900px) {
    #menu-toggle {
        display: block;
    }

    .navbar-links {
        z-index: 1000;
    }

    #non-authenticated-div {
        margin-top: 6rem;
    }

    #authenticated-div {
        margin-top: 6rem;
    }

    #sub-non-authenticated-div {
        flex-direction: column-reverse;
        padding: 10px;
    }

    #sub-authenticated-div {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .navbar-container {
        font-size: 1.1rem;
    }

    #todo-app-logo {
        font-size: 1.5rem;
    }

    #display-name {
        font-size: 1.1rem;
    }

    #logout-btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 700px) {
    .navbar-links.open {
        width: 35%;
    }
}

@media (max-width: 600px) {
    .navbar-container {
        font-size: 1rem;
    }

    .navbar-links.open {
        width: 40%;
    }

    #todo-app-logo {
        font-size: 1.3rem;
    }

    #display-name {
        font-size: 1rem;
    }

    #logout-btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .navbar-links.open {
        width: 45%;
    }
}