:root {
    --navbar-bg: white;
    --btn-bg: #c9d42b;
    --btn-border: rgb(197, 197, 197);
    --text-color: black;
    --logo-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --navbar-bg: #222;
        --btn-bg: #444;
        --btn-border: #555;
        --text-color: #f4f4f4;
        --logo-color: #fff;
    }
}

.navbar {
    width: 100%;
    background-color: var(--navbar-bg);
}

.navbar-container {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    gap: 5px;
}

#logout-btn {
    padding: 7px;
    border-radius: 5px;
    border: 2px solid var(--btn-border);
    background-color: var(--btn-bg);
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color);
}

#authenticated-div {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#authenticated-div > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

#todo-app-logo {
    color: var(--logo-color);
    font-size: 1.8rem;
}

#non-authenticated-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#display-name {
    font-size: 1.2rem;
    color: var(--text-color);
}

@media (max-width: 1200px) {
    .navbar-container {
        font-size: 1.3rem;
    }
    
    #todo-app-logo {
        font-size: 1.7rem;
    }

    #display-name {
        font-size: 1.2rem;
    }

    #logout-btn {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .navbar-container {
        font-size: 1.1rem;
    }
    
    #todo-app-logo {
        font-size: 1.5rem;
    }

    #display-name {
        font-size: 1.1rem;
    }

    #logout-btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .navbar-container {
        font-size: 1rem;
    }
    
    #todo-app-logo {
        font-size: 1.3rem;
    }

    #display-name {
        font-size: 1rem;
    }

    #logout-btn {
        font-size: 0.8rem;
    }
}
