:root {
    --background-color: white;
    --text-color: black;
    --input-background-color: white;
    --input-text-color: black;
    --button-background-color: #c9d42b;
    --button-text-color: white;
    --button-hover-background-color: white;
    --button-hover-text-color: #c9d42b;
    --form-container-bg: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --text-color: #f4f4f4;
        --input-background-color: #555;
        --input-text-color: #f4f4f4;
        --button-background-color: #444;
        --button-text-color: #f4f4f4;
        --button-hover-background-color: #666;
        --button-hover-text-color: #f4f4f4;
        --form-container-bg: #333;
    }
}

.form-container {
    background-color: var(--form-container-bg);
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10vh;
}

#register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.input-box {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);
    width: 100%;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

.input-box:focus {
    outline: 0;
}

#register-btn {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);
    background-color: var(--button-background-color);
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    color: var(--button-text-color);
}

#register-btn:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
}

#already-account {
    color: var(--text-color);
}

@media (max-width: 1100px) {
    .form-container {
        width: 50%; 
        margin-top: 5vh; 
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 70%; 
        margin-top: 3vh; 
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 90%; 
        margin-top: 2vh;
        padding: 5px; 
    }

    .input-box {
        padding: 8px; 
    }

    #register-btn {
        padding: 8px; 
        font-size: 0.9rem;
    }
}
