.terms-of-service-container {
    padding: 20px;
    width: 90%;
    margin: 2rem auto;
    line-height: 1.6;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.section {
    margin-top: 10px;
}

.terms-of-service {
    width: 100%;
    padding: 50px;
    /* background-color: rebeccapurple; */
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

section {
    margin: 20px 0;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
    color: #333;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    .terms-of-service-container {
        background-color: #121212;
        color: #e0e0e0;
    }

    h1, h2 {
        color: #e0e0e0;
    }

    a {
        color: #82aaff;
    }

    body {
        background-color: #121212;
        color: #e0e0e0;
    }
}

@media (max-width: 1200px) {
    .terms-of-service-container {
        padding: 15px;
    }

    .terms-of-service {
        padding: 45px;
    }
}

@media (max-width: 992px) {
    .terms-of-service-container {
        padding: 10px;
    }

    .terms-of-service {
        padding: 40px;
    }
}

@media (max-width: 768px) {
    .terms-of-service-container {
        padding: 8px;
    }

    .terms-of-service {
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .terms-of-service-container {
        padding: 5px;
    }

    .terms-of-service {
        padding: 20px;
    }

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.4em;
    }
}
