:root {
    --background-color: white;
    --text-color: black;
    --input-background-color: white;
    --input-text-color: black;
    --button-background-color: rgb(116, 218, 218);
    --button-text-color: black;
    --button-hover-background-color: white;
    --button-hover-text-color: rgb(116, 218, 218);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #f4f4f4;
        --input-background-color: #2e2c2c;
        --input-text-color: #f4f4f4;
        --button-background-color: rgb(116, 218, 218);
        --button-text-color: black;
        --button-hover-background-color: white;
        --button-hover-text-color: rgb(116, 218, 218);
    }
}

.form-container {
    background-color: var(--background-color);
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10vh;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.input-box {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);
    width: 100%;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

.input-box:focus {
    outline: 0;
}

#login-btn {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

#login-btn:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
}

#dont-account {
    color: var(--text-color);
}

@media (max-width: 1200px) {
    .form-container {
        width: 40%;
        margin-top: 8vh;
    }
}

@media (max-width: 900px) {
    .form-container {
        width: 50%;
        margin-top: 6vh;
    }
}

@media (max-width: 600px) {
    .form-container {
        width: 80%;
        margin-top: 5vh;
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .form-container {
        width: 90%;
        margin-top: 4vh;
    }
    #login-btn {
        font-size: 0.9rem;
    }
}
